/* Fonts from Google Fonts - more at https://fonts.google.com */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');
@import url('https://fonts.googleapis.com/css?family=Merriweather:400,700');


.title {
    font-style: italic;
    display: block;
    margin: 20px auto 10px;
    text-align: center;
}

img.foto {
    max-height: 500px
}

.descricao {
    margin: 20px 10px;
    font-size: 1.3em;
    display: inline-block;
}

.preco {
    margin-left: 15px;
}

.face {
    color: #FFF;
    background-color: #3B5998;
    display: block;
    text-align: center;
    max-width: 200px;
    margin: 15px auto 0 auto;
}

.face img{
    width: 40px;
    padding: 10px;
}
